.jumbotron{
    background-image: linear-gradient(to bottom right, black, white);
 
}

.navbar{
    /*background-color: none;*/
    background-image: linear-gradient(to top, white, #D6D6D6, white);
}

.carousel-item img{
    
}

#cutaway-container{
    /*background-image: linear-gradient(to top, black , black, white);*/
    background-color: black;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

i {
    color: black;

}

#indexInteriorContainer{
    /*background-image: url("/images/interior1.png");
    background-repeat: no-repeat;
    background-size: cover;*/
}